
body{
  width: 100vw;
  height: 100vh;
  margin: 0;
  text-align: center;
  background-color: #000000;
  color: #00FFFF;
}
button{
    background-color: yellow;
    border-radius: 20px;
    color: #4B0082;
    box-shadow:inset 0 0 20px red, 0 0 30px red;
  }
  h1{
    color: Pink;
    align-items: flex-start;
    text-shadow: 0 0 20px red, 0 0 30px red;
  }
  h3{
    color: white;
    align-items: flex-start;
    text-shadow: 0 0 20px red, 0 0 30px red;
  }


